html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-calendar-heatmap .color-scale-1 { fill: #EEEEEE; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
